
@{
    ViewBag.Title = "Admin Home";
}

<h1>Welcome to Admin page</h1>
<div class="m-3"></div>
<nav class="nav flex-column bg-primary" style="font-size:17px; font-weight:bold;width: 200px; height:800px">
    <a class="nav-link active" aria-current="page" href="/Admin/TinTuc/Index">Quản lý tin tức</a>
    <a class="nav-link" href="/Admin/Theloai/Index">Quản lý thể loại</a>
    <a class="nav-link" href="/Admin/Tacgia/Index">Quản lý tác giả</a>
    <a class="nav-link" href="/Admin/User/Index">Quản lý người dùng</a>
</nav>

