@model List<DOAN_TINTUC24H.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<link href="~/Assist/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Assist/tabcontent.css" />
<script type="text/javascript" src="~/Assist/tabcontent.js">
</script>
<body>
    <div class="container-md">
        <div id="templatemo_container">
            <div id="templatemo_content">

                <div id="templatemo_main_leftcol">
                    <div class="templatemo_leftcol_subcol">

                        <div id="templatemo_topnews">
                            <a href="/WorldCup/Detail/93"><img src="~/img/7.10.2 - Copy.png" alt="image" /></a>
                            <div class=" m-2"></div>
                            <a href="/WorldCup/Detail/93" style="font-size:15px">Messi chia tay ĐT Argentina nếu vô địch World Cup, giải nghệ vào cuối mùa?</a>
                            <div class="m-2"></div>
                            <p align="justify" style="font-weight:bold">
                                Sự nghiệp huy hoàng của Lionel Messi chẳng còn thiếu điều gì ngoài chức vô địch World Cup. Vì thế, hoàn toàn có khả năng "El Pulga" buông bỏ nếu đã chinh phục được đỉnh cao ấy.
                            </p>
                            <p> Với Messi, World Cup 2022 là lần cuối anh hiện diện ở sân chơi này</p>
                            <span class="updatedtime">updated 12 minutes ago</span>
                        </div>

                        <div id="templatemo_gallery_section">
                            <h2>Hình ảnh hôm nay</h2>
                            <div id="image_section">
                                <a href="/TinTuc/Detail/30"><img src="~/img/2.5.1 - Copy.png" alt="image" /></a>
                                <a href="/TinTuc/Detail/32"><img src="~/img/2.7.1 - Copy.png" alt="image" /></a>
                                <a href="/WorldCup/Detail/35"><img src="~/img/7.2.1 - Copy.png" alt="image" /></a>
                                <a href="/TinTuc/Detail/26"><img src="~/img/2.2.1 - Copy.png" alt="image" /></a>
                                <a href="/TinTuc/Detail/8"><img src="~/img/1.3.1 - Copy.png" alt="image" /></a>
                                
                            </div>
                            
                        </div>
                    </div> <!-- end of left column -->

                    <div class="templatemo_leftcol_subcol">
                        <div class="regular_section">
                            <h2>Tin tức tổng hợp</h2>
                            <div class="newsbox">
                                <img src="~/img/7.9.1 - Copy.png"/><span class="newstitle"><a href="/WorldCup/Detail/92" style="font-weight:bold">Argentina đại chiến Pháp chung kết World Cup: Đội nào sáng cửa vô địch?</a></span><br />
                                <div class=" m-2"></div>
                                <a href="/WorldCup/Detail/92">
                                    Argetina đấu Pháp, Lionel Messi đọ tài Kylian Mbappe... tạo nên trận chung kết trong mơ cho World Cup 2022.
                                                                         
                                </a>
                            </div>

                            <ul>
                                <li><a href="/TinTuc/Detail/55">Thoát mánh lừa đảo quét mã QR nhờ thanh toán tiện lợi từ KiotViet</a></li>
                                <li><a href="/TinTuc/Detail/81">"Kình ngư" Ánh Viên tuyên bố giải nghệ ở tuổi 26, muốn có cuộc sống bình thường</a></li>
                                <li><a href="/TinTuc/Detail/77">Cố trả đủ lương</a></li>
                                <li><a href="/TinTuc/Detail/66">Bộ Ngoại giao nói về thỏa thuận 15,5 tỷ USD hỗ trợ Việt Nam chuyển đổi xanh</a></li>
                                <li><a href="/TinTuc/Detail/61">"Nỗi ám ảnh" xuyên suốt năm 2022 dẫn tới cú sập tồi tệ nhất 3 tháng của Dow Jones</a></li>
                                <li><a href="/TinTuc/Detail/43">“Vua đất nện” Nadal khổ sở trước đàn em (Top 10 trận tennis hay nhất 2022)</a></li>
                            </ul>
                            
                        </div>

                        <div class="regular_section">
                            <h2>World Cup</h2>
                            <div class="newsbox">
                                <img src="~/img/7.7.1 - Copy.png" " class="newstitle"><a href="/WorldCup/Detail/90" style="font-size:15px">6 trận cầu đỉnh cao của ĐT Pháp: Nã vào lưới đối thủ 13 bàn, sức mạnh áp đảo</a></span><br />
                                <div class="m-2"></div>
                                <p>
                                    <a href="/WorldCup/Detail/90">ĐT Pháp ghi danh vào chung kết World Cup 2022 theo cách cực kỳ ấn tượng. Hành trình nhà đương kim vô địch thế giới đã đi chỉ có một vết xước nhỏ.</a>
                                </p>
                            </div>

                            <ul>
                                <li><a href="/WorldCup/Detail/37">Ngày đại họa của Messi - Ronaldo: Người thua sốc ở World Cup, kẻ bị CLB ruồng bỏ</a></li>
                                <li><a href="/WorldCup/Detail/38">
                                    Tin nóng World Cup tối 23/11: Southgate lo ĐT Anh bị trọng tài “đì”
                                    </a></li>
                                <li><a href="/WorldCup/Detail/89">ĐT Pháp có biến: Benzema "dỗi" HLV Deschamps, từ chối đá chung kết World Cup</a></li>
                                <li><a href="/WorldCup/Detail/23">Thủ môn Saudi Arabia vượt Messi nhận giải thưởng, lập kỷ lục đáng nhớ</a></li>
                                
                            </ul>
                           
                        </div>
                    </div>

                    <div class="tab_section">
                        <!-- start -->
                        <ul id="countrytabs" class="shadetabs">
                            <li><a href="#" rel="health" class="selected">Chứng Khoán</a></li>
                            <li><a href="#" rel="entertainment">Ngân Hàng</a></li>
                            <li><a href="#" rel="politics">Tài Chính Quốc Tế</a></li>
                            <li><a href="#" rel="business">Xã Hội</a></li>
                            <li><a href="#" rel="tech_science">Vĩ Mô </a></li>
                        </ul>

                        <div class="tabcontent_section">
                            <div id="health" class="tabcontent">
                                <div class="topnews">
                                    <a href="/TinTuc/Detail/17">
                                        <img src="~/img/2.1.1 - Copy.png" alt="image" />
                                        <h4>VN30 thua kém VN-Index cả về điểm số lẫn hiệu suất, điều gì đang diễn ra?</h4>
                                    </a>
                                </div>
                                <div class="newslist">
                                    <ul>
                                        <li><a href="/TinTuc/Detail/26">
                                                Chứng khoán biến động bất thường?
                                            </a></li>
                                        <li><a href="/TinTuc/Detail/27">
                                                    Tự doanh bán ròng hơn 200 tỷ đồng, tập trung vào HDG và VPB
                                                </a></li>
                                        <li><a href="/TinTuc/Detail/30">Góc nhìn CTCK: VN-Index vẫn chưa thể thoát khỏi xu hướng downtrend, nhà đầu tư tránh mua đuổi</a></li>
                                        <li><a href="/TinTuc/Detail/32">
                                                VN30 giảm sâu, hàng nghìn tỷ đồng vốn ngoại ồ ạt bắt đáy qua các quỹ ETF
                                            </a></li>
                                  
                                    </ul>
                                    
                                </div>
                            </div>

                            <div id="entertainment" class="tabcontent">
                                <div class="topnews">
                                    <a href="/TinTuc/Detail/47">
                                        <img src="~/img/3.4.1 - Copy.png" alt="image" />
                                        <h4>OCB nằm trong top 30 công ty nộp thuế lớn nhất Việt Nam</h4>
                                    </a>
                                </div>
                                <div class="newslist">
                                    <ul>
                                        <li><a href="/TinTuc/Detail/44">Lượng kiều hối về TP. Hồ Chí Minh đạt 6,8 tỷ USD</a></li>
                                        <li><a href="/TinTuc/Detail/46">Nới room tín dụng liệu có giúp thị trường vốn đỡ "khát"?</a></li>
                                        <li><a href="/TinTuc/Detail/51">Đã có 16 ngân hàng cam kết giảm lãi suất cho vay, mức giảm từ 0,5% - 3%/năm</a></li>
                                        <li><a href="/TinTuc/Detail/53">Phó Thống đốc: NHNN đã có yêu cầu các ngân hàng đều phải giảm lãi suất</a></li>
                                        
                                    </ul>
                                    
                                </div>
                            </div>

                            <div id="politics" class="tabcontent">
                                <div class="topnews">
                                    <a href="/TinTuc/Detail/57">
                                        <img src="~/img/4.2.1 - Copy.png" alt="image" />
                                        <h4>Khi nào giá dầu khí có thể trở lại mức trước xung đột Ukraine? Giới phân tích chỉ ra "sự thật cay đắng"</h4>
                                    </a>
                                </div>
                                <div class="newslist">
                                    <ul>
                                        <li><a href="/TinTuc/Detail/61">"Nỗi ám ảnh" xuyên suốt năm 2022 dẫn tới cú sập tồi tệ nhất 3 tháng của Dow Jones</a></li>
                                        <li><a href="/TinTuc/Detail/62">
                                                    Năm 2022 sóng gió của Xiaomi: Điện thoại suy, nội bộ rối, ô tô điện mù mờ, cạnh tranh khốc liệt
                                                </a></li>
                                        <li><a href="/TinTuc/Detail/66">Bộ Ngoại giao nói về thỏa thuận 15,5 tỷ USD hỗ trợ Việt Nam chuyển đổi xanh</a></li>
                                        <li><a href="/TinTuc/Detail/70">Khởi đầu bùng nổ của Tesla tại xứ Chùa Vàng: Cư dân mạng tấm tắc khen rẻ, người dùng đặt hơn 5000 xe trong 3 ngày</a></li>
                                        
                                    </ul>
                                    
                                </div>
                            </div>

                            <div id="business" class="tabcontent">
                                <div class="topnews">
                                    <a href="/TinTuc/Detail/20">
                                        <img src="~/img/1.7.1 - Copy.png" alt="image" />
                                        <h4>Vụ hàng trăm học sinh trường iSchool Nha Trang nhập viện: Phụ huynh không cầm được nước mắt</h4>
                                    </a>
                                </div>
                                <div class="newslist">
                                    <ul>
                                        <li><a href="/TinTuc/Detail/9">Đường dây tín dụng đen liên tỉnh lãi suất lên đến 579,6%/năm</a></li>
                                        <li><a href="/TinTuc/Detail/18">257 học sinh Trường iSchool Nha Trang nhập viện: Một em lớp 1 tử vong</a></li>
                                        <li><a href="/TinTuc/Detail/19">Điều tra nguyên nhân vụ nổ ở TTTM Savico Magamall Long Biên, Hà Nội</a></li>
                                        <li><a href="/TinTuc/Detail/21">Những khoản tiền nào người lao động có thể nhận khi nghỉ việc?</a></li>
                                        
                                    </ul>
                                    
                                </div>
                            </div>
                            <div id="tech_science" class="tabcontent">
                                <div class="topnews">
                                    <a href="/TinTuc/Detail/41">
                                        <img src="~/img/5.1.1 - Copy.png" alt="image" />
                                        <h4>
                                            Tỉnh đứng thứ tư về giá trị xuất khẩu, đứng đầu về tỷ lệ sở hữu ô tô
                                        </h4>
                                    </a>
                                </div>
                                <div class="newslist">
                                    <ul>
                                        <li><a href="/TinTuc/Detail/76">
                                                Thưởng Tết: Nơi phấn khởi, nơi phập phồng
                                            </a></li>
                                        <li><a href="/TinTuc/Detail/77">Cố trả đủ lương</a></li>
                                        <li><a href="/TinTuc/Detail/78">Hà Nội dự báo thưởng Tết một số ngành giảm sâu</a></li>
                                        <li><a href="/TinTuc/Detail/79">Một tỉnh công nghiệp phía Bắc thay thế Bình Dương thu hút người di cư lớn nhất</a></li>
                                        
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">

                            var countries = new ddtabcontent("countrytabs")
                            countries.setpersist(true)
                            countries.setselectedClassTarget("link") //"link" or "linkparent"
                            countries.init()

                        </script>
                        <!-- end -->

                    </div>
                </div> <!-- end of left column -->

                <div id="templatemo_main_rightcol">
                    <div class="templatemo_rcol_sectionwithborder">
                        
                            <h2>Quảng Cáo</h2>
                            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                                <!-- Indicators/dots -->
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                                </div>

                                <!-- The slideshow/carousel -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/img/ads1.png" alt="Los Angeles" class="d-block w-50">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/ads2.png" alt="Chicago" class="d-block w-50">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/img/ads3.png" alt="New York" class="d-block w-50">
                                    </div>
                                </div>

                                <!-- Left and right controls/icons -->
                                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </button>
                            </div>
                        <div class="m-5"></div>

                    <div class="templatemo_rcol_sectionwithborder">
                        <div id="templatemo_blog_section">
                            <h2>Một số tin tức đáng chú ý</h2>

                            <div class="blog_box">
                                <a href="/WorldCup/Detail/37">
                                    <h3>Ngày đại họa của Messi - Ronaldo: Người thua sốc ở World Cup, kẻ bị CLB ruồng bỏ</h3>
                                    <img src="~/img/7.4.2 - Copy.png" />
                                    <div class="m-3"></div>
                                    <span>
                                        Không hẹn mà gặp, cả Messi lẫn Ronaldo đều đón nhận những tin dữ chỉ cách nhau chưa đầy 1 ngày.

                                    </span>
                                </a>
                            </div>

                            <div class="blog_box">
                                <a href="/TinTuc/Detail/87">
                                    <h3>Alcaraz vượt khó lên ngôi số 1, được đánh giá cao hơn Nadal - Federer</h3>
                                    <img src="~/img/6.7.1 - Copy.png" />
                                    <div class="m-3"></div>
                                    <span>
                                        Lên ngôi số 1 đã khó nhưng để ngự trị trên đỉnh cao Alcaraz sẽ phải nỗ lực gấp đôi.

                                    </span>
                                </a>

                        </div>
                    </div>

                    
                </div>
            </div>


            
        </div>
    </div>
</body>


